$padding: 20px;

$pink: #ED1E79;
$light-pink: #FFBDDD;
$light-blue: #778CC6;
$light-grey: #F2F2F2;
$medium-grey: #CCC;
$dark-grey: #49516d;
$green: #80cbc4;
$medium-green: #00897B;
$dark-green: #086055;

$calendar-date-width: 100% / 7;
