@import 'constants';

.notifications-header {
  padding: $padding $padding 0 $padding;
}

.notification {
  padding: $padding;
  border: 1px solid $medium-grey;
  border-radius: 5px;
  margin: $padding $padding 0 $padding;
  display: inline-block;
  vertical-align: middle;
}
